::selection {
  background: @color-red;
  color: #FFFFFF;
  transform: scale(0.8);
}

body {
  background: @color-background-light;
  font-family: "WebSahel", "Roboto", Arial;

  @media (max-width: 480px) {
    font-size: 14px;
  }

  @media (max-width: 320px) {
    font-size: 11px;
  }
}

div.container {
  max-width: @size-page-width;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px;
  margin: 0px auto;
}

div#view {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100;
}
