::selection {
  background: @color-blue;
  color: #FFFFFF;
}

body {
  background: @color-background-light;
  font-family: "WebParastoo", "Myriad Pro", "Roboto", "Noto", Arial;
  
  @media (max-width: 480px) {
    font-size:12px;
  }

  @media (max-width: 320px) {
    font-size: 10px;
  }
}

div.container {
  max-width: @size-page-width;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px;
  margin: 0px auto;
}

div#view {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 100;
}
