{{ $baseURL := .Site.BaseURL }}
		<footer id="main-footer">
			<div class="container">
				<p>من <strong>علیرضا احمدی</strong> هستم، در صورتی که تمایل دارید بیشتر با من آشنا بشید می‌تونید به صفحه <a href="{{ $baseURL }}/page/about/"><img class="avatar" src="{{ $baseURL }}/images/avatar.jpg"/> درباره من</a>
				مراجعه کنید؛ برای تماس با من هم می‌تونید از طریق <a href="mailto:me@alireza.es">ایمیل</a> اقدام کنید یا به من در <a href="https://twitter.com/alireza94"><img class="twitter" src="{{ $baseURL }}/images/twitter.svg"/> توییتر</a> یا <a href="https://ir.linkedin.com/in/alirezaahmadi">لینکد-این</a> پیام بدید.</p>
				<a href="{{ $baseURL }}/page/about/" id="about-link">درباره من</a>
				<p class="copyright">لطفا مطالب را بدون ذکر منبع کپی نکنید.</p>
			</div>
		</footer>
	</div> <!-- #view -->
</body>
</html>
