{{ $baseURL := .Site.BaseURL }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }} | {{ .Title }}</title>

    {{ $description := "نوشته‌های علیرضا احمدی درباره علایقش در حوزه‌های مختلف زندگی" }}
    <!-- Meta tags -->
    <meta name="description" content="{{ $description }}" />
    <link rel="author" href="https://plus.google.com/+AlirezaAhmadi94" />

    <!-- OpenGraph tags -->
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="{{ if .IsNode }}blog{{ else }}article{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ $baseURL }}/images/social-banner-medium.png" />
    <meta property="og:description" content="{{ $description }}" />
    <meta property="fb:admins" content="1762002198" />

    <!-- Twitter cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ $description }}" />
    <meta name="twitter:image" content="{{ $baseURL }}/images/social-banner-medium.png" />

    <!-- RSS Links -->
    {{ if .RSSlink }}
        <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <link rel="stylesheet" href="{{ $baseURL }}/styles/style.css" />
    <script type="text/javascript" src="{{ $baseURL }}/scripts/highlight.pack.js"></script>
    <script>
        hljs.configure({
            tabReplace: '   '
        })
        hljs.initHighlighting();
    </script>
</head>
{{ $slug := .Slug }}
<body{{ with .Section }} class="type-{{ . }}{{ if ne . "post" }} {{ . }}-{{ $slug }}{{ end }}"{{ end }}>
    <div id="view">
        <header id="main-header">
            <div id="logo">
                <a href="{{ $baseURL }}" alt="خانه" title="خانه">
                    <img src="{{ $baseURL }}/images/bg.svg" id="logo-bg" />
                    <img src="{{ $baseURL }}/images/fg.svg" id="logo-fg" />
                </a>
            </div> <!-- #logo -->

            <nav id="main-navigation">
                <div class="container">
                    <ul>
                        <li class="navigation"><a href="{{ $baseURL }}/page/about/">درباره من</a></li>
                        <li class="navigation"><a href="mailto:info@alireza.es">تماس با من</a></li>
                        <li id="twitter-link"><a href="http://twitter.com/alireza94"><img src="{{ $baseURL }}/images/twitter.svg"/></a></li>
                    </ul>
                </div>
            </nav> <!-- #main-navigation -->
        </header> <!-- #main-header -->
