{{ $baseURL := .Site.BaseURL }}
{{ $list := .Site.Data.topics.list }}

{{ partial "header.html" . }}
<section id="posts" class="archive">
    <div class="container">
        <article class="post">
            <header class="post-header">
				<aside class="post-meta">
					<span class="post-meta-holder">
						<time datetime="{{ .Date }}" class="post-date">{{ .Params.shamsidate }}</time>
						{{ range $key, $value := .Params.topics }}
							<a class="post-category" href="{{ $baseURL }}/topics/{{ $value }}/">{{ index $list $value }}</a>
						{{ end }}
					</span>
				</aside>
				
				<h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
			</header> <!-- .post-header -->

            <div class="post-content">
                {{ if .TableOfContents }}
                {{ end }}

                {{ .Content }}
            </div>
        </article> <!-- .post -->
    </div>

    <!--
        TODO : add share button
    -->
</section> <!-- #posts -->
{{ partial "footer.html" }}
