@color-background-light: #efecea;
@color-background-grey: #efefef;

@color-text-dark: #515151;
@color-text-normal: #444444;
@color-text-navigation: @color-text-normal;
@color-text-meta: #515151;

@color-primary: #E04462;
@color-primary-hover: rgba(255, 225, 0, 0.8);
@color-alternative: #e31837;
@color-blue: #4cc2c4;
