@color-background-light: #ffffff;
@color-background-grey: #efefef;

@color-text-deep-dark: #000000;
@color-text-normal: #444444;
@color-text-navigation: @color-text-normal;
@color-text-meta: #777777;

@color-primary: #ffe100;
@color-primary-hover: rgba(255, 225, 0, 0.8);
@color-alternative: #e31837;
@color-blue: #4cc2c4;
